snippet story "Jsx story"
import React from 'react';
import storiesOf from '../../utils/storiesOf.js';
import Title from '.';

storiesOf('Title')
  .addWithInfo('Default without props', () => (
    <div>
      <Title />
    </div>
  ));
endsnippet

snippet test "test" !b
test('$1', () => {
  expect($2).toEqual($3)
})
endsnippet

